.env
.env.*
!**/.env.example
!**/.env.prod.example
.venv/
node_modules/
dist/
build/
__pycache__/
*.py[cod]
.dev/
*.tsbuildinfo
backend/*.out
backend/*.err
backend/*.log
backend/db.sqlite3
frontend/*.out
frontend/*.err
frontend/*.log
frontend/*.d.ts
frontend/*.js
